# Group B -Assignment 1

## Problem Statement
```
Perform the following operations using Python on the Facebook metric data sets.
a. Create data subsets
b. Merge Data
c. Sort Data
d. Tranposing Data
e. Shape and reshape Data
```

## Importing the required libraries

In [2]:
import pandas as pd
import numpy as np

## Reading data from CSV File

In [29]:
aditya = pd.read_csv("datasets//dataset_Facebook.csv",sep=";")
aditya.head(8)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339

## Shape of the dataset

In [8]:
aditya.shape

(500, 19)

## Creating subset

### a.Row Wise

In [44]:
subset1 = aditya.iloc[[1,5,11,18,20,30,35,42,58,60,62],:]
subset1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
18,138414,Status,3,12,2,3,0.0,3930,7509,130,86,112,5009,2410,101,4,54.0,17.0,75
20,138414,Photo,2,12,1,3,0.0,2848,5066,200,142,184,3561,1963,157,3,66.0,12.0,81
30,138895,Photo,2,12,4,2,0.0,4940,9390,385,306,501,5860,2930,273,33,107.0,22.0,162
35,138895,Photo,2,12,1,11,0.0,4512,7808,423,284,431,5183,2954,316,6,172.0,21.0,199
42,138353,Photo,1,12,5,10,0.0,7268,13989,2087,2079,12074,13544,7096,1975,7,26.0,3.0,36
58,138329,Photo,1,11,4,10,0.0,2257,4372,230,173,327,3188,1557,168,3,76.0,11.0,90
60,138185,Photo,1,11,3,11,1.0,10940,27951,417,335,591,15066,5100,319,8,101.0,14.0,123
62,138185,Photo,1,11,2,10,1.0,28752,47358,802,654,1268,14091,7456,408,10,179.0,13.0,202

In [45]:
subset1.shape

(11, 19)

```



















```

```





```

In [46]:
subset2 = aditya.iloc[[100,110,150,180,250,300,350,358,375,378,400],:]
subset2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
110,136736,Photo,1,10,6,10,0.0,1673,3655,338,324,1619,2598,1469,268,2,28.0,4.0,34
150,135713,Photo,1,10,6,4,0.0,39984,112830,2105,1921,3932,70249,21328,1609,24,302.0,41.0,367
180,134879,Status,2,9,4,4,1.0,9124,17776,1476,1397,1797,13887,7092,1331,20,150.0,29.0,199
250,129600,Photo,1,7,7,6,1.0,5848,9068,622,570,795,6651,4212,383,4,71.0,10.0,85
300,124940,Photo,2,6,6,9,0.0,6952,11469,909,779,1229,7431,4292,646,11,231.0,43.0,285
350,116435,Photo,2,5,5,9,0.0,5728,10164,676,587,1049,6890,3714,475,3,155.0,32.0,190
358,116091,Photo,2,5,7,14,0.0,5206,8962,565,492,878,6461,3708,414,1,144.0,29.0,174
375,111620,Photo,3,4,4,7,1.0,12824,18929,830,623,864,15678,10968,705,0,286.0,30.0,316
378,111620,Photo,1,4,2,6,1.0,44288,60918,1215,1105,1746,22130,14224,814,2,152.0,11.0,165
400,107907,Photo,3,4,4,5,1.0,3714,6385,537,481,645,4441,2512,395,5,91.0,26.0,122

In [47]:
subset2.shape

(11, 19)

```




```

```




```

```





```

```




```

### Merging of row-wise subsets

In [48]:
merge1 = pd.concat([subset1,subset2])
merge1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
18,138414,Status,3,12,2,3,0.0,3930,7509,130,86,112,5009,2410,101,4,54.0,17.0,75
20,138414,Photo,2,12,1,3,0.0,2848,5066,200,142,184,3561,1963,157,3,66.0,12.0,81
30,138895,Photo,2,12,4,2,0.0,4940,9390,385,306,501,5860,2930,273,33,107.0,22.0,162
35,138895,Photo,2,12,1,11,0.0,4512,7808,423,284,431,5183,2954,316,6,172.0,21.0,199
42,138353,Photo,1,12,5,10,0.0,7268,13989,2087,2079,12074,13544,7096,1975,7,26.0,3.0,36
58,138329,Photo,1,11,4,10,0.0,2257,4372,230,173,327,3188,1557,168,3,76.0,11.0,90
60,138185,Photo,1,11,3,11,1.0,10940,27951,417,335,591,15066,5100,319,8,101.0,14.0,123
62,138185,Photo,1,11,2,10,1.0,28752,47358,802,654,1268,14091,7456,408,10,179.0,13.0,202
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
110,136736,Photo,1,10,6,10,0.0,1673,3655,338,324,1619,2598,1469,268,2,28.0,4.0,34
150,135713,Photo,1,10,6,4,0.0,39984,112830,2105,1921,3932,70249,21328,1609,24,302.0,41.0,367
180,134879,Status,2,9,4,4,1.0,9124,17776,1476,1397,1797,13887,7092,1331,20,150.0,29.0,199
250,129600,Photo,1,7,7,6,1.0,5848,9068,622,570,795,6651,4212,383,4,71.0,10.0,85
300,124940,Photo,2,6,6,9,0.0,6952,11469,909,779,1229,7431,4292,646,11,231.0,43.0,285
350,116435,Photo,2,5,5,9,0.0,5728,10164,676,587,1049,6890,3714,475,3,155.0,32.0,190
358,116091,Photo,2,5,7,14,0.0,5206,8962,565,492,878,6461,3708,414,1,144.0,29.0,174
375,111620,Photo,3,4,4,7,1.0,12824,18929,830,623,864,15678,10968,705,0,286.0,30.0,316
378,111620,Photo,1,4,2,6,1.0,44288,60918,1215,1105,1746,22130,14224,814,2,152.0,11.0,165
400,107907,Photo,3,4,4,5,1.0,3714,6385,537,481,645,4441,2512,395,5,91.0,26.0,122

In [49]:
merge1.shape

(22, 19)

### b.Column Wise

In [54]:
subset3 = aditya.iloc[:,[1,3,5,7]]
subset3.head(10)

     Type  Post Month  Post Hour  Lifetime Post Total Reach
0   Photo          12          3                       2752
1  Status          12         10                      10460
2   Photo          12          3                       2413
3   Photo          12         10                      50128
4   Photo          12          3                       7244
5  Status          12          9                      10472
6   Photo          12          3                      11692
7   Photo          12          9                      13720
8  Status          12          3                      11844
9   Photo          12         10                       4694

In [55]:
subset4 = aditya.iloc[:,[11,12,13,14]]
subset4.head(10)

,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post
0,159,3078,1640,119
1,1674,11710,6112,1108
2,154,2812,1503,132
3,1119,61027,32048,1386
4,580,6228,3200,396
5,1389,16034,7852,1016
6,364,15432,9328,379
7,305,19728,11056,422
8,1692,15220,7912,1250
9,250,4309,2324,199

### Merging of Column wise Subsets

In [56]:
merge2 = subset3.merge(subset4,left_index=True,right_index=True)
merge2.head(10)

,Type,Post Month,Post Hour,Lifetime Post Total Reach,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post
0,Photo,12,3,2752,159,3078,1640,119
1,Status,12,10,10460,1674,11710,6112,1108
2,Photo,12,3,2413,154,2812,1503,132
3,Photo,12,10,50128,1119,61027,32048,1386
4,Photo,12,3,7244,580,6228,3200,396
5,Status,12,9,10472,1389,16034,7852,1016
6,Photo,12,3,11692,364,15432,9328,379
7,Photo,12,9,13720,305,19728,11056,422
8,Status,12,3,11844,1692,15220,7912,1250
9,Photo,12,10,4694,250,4309,2324,199

```





```

```





```

```




```

```




```

```





```

```






```

```





```

```






```

```







```

## Sort Values

### a. Descending Order

In [23]:
desc_sort = aditya.sort_values('share',ascending=False)
desc_sort

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
105,137020,Photo,1,10,2,4,0.0,70144,111745,3216,2628,4782,43671,20608,1542,42,955.0,139.0,1136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,102112,Photo,1,3,1,19,0.0,238,570,143,142,834,567,236,99,0,2.0,0.0,2
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0
120,136393,Photo,1,10,7,9,0.0,584,1029,273,271,308,943,511,232,0,2.0,NaN,2
124,136393,Photo,1,10,7,6,0.0,677,1285,251,246,297,1210,615,211,0,7.0,NaN,7
164,135428,Photo,1,9,5,10,0.0,1060,2004,266,251,337,1705,870,204,0,18.0,NaN,18

### b. Ascending Order

In [24]:
asc_sort = aditya.sort_values('share',ascending=True)
asc_sort

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
436,100732,Photo,1,3,6,13,1.0,9604,16557,1061,1037,9614,13618,7984,705,16,127.0,0.0,143
431,100732,Photo,1,3,7,12,0.0,4094,7469,206,203,1420,7451,4088,200,0,4.0,0.0,4
117,136642,Photo,1,10,7,11,0.0,729,1374,303,298,331,1284,650,262,0,7.0,0.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0
120,136393,Photo,1,10,7,9,0.0,584,1029,273,271,308,943,511,232,0,2.0,NaN,2
124,136393,Photo,1,10,7,6,0.0,677,1285,251,246,297,1210,615,211,0,7.0,NaN,7
164,135428,Photo,1,9,5,10,0.0,1060,2004,266,251,337,1705,870,204,0,18.0,NaN,18

## Tranpose of Dataset

In [61]:
aditya.transpose()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

## Reshaping the Dataset

In [26]:
reshape = aditya.melt(id_vars=["like"], value_vars=["Category", "share", "comment"])
reshape

        like  variable  value
0       79.0  Category    2.0
1      130.0  Category    2.0
2       66.0  Category    3.0
3     1572.0  Category    2.0
4      325.0  Category    2.0
...      ...       ...    ...
1495    53.0   comment    5.0
1496    53.0   comment    0.0
1497    93.0   comment    4.0
1498    91.0   comment    7.0
1499    91.0   comment    0.0

[1500 rows x 3 columns]